/Makefile
/Makefile.in
/aclocal.m4
/build-aux/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/stamp-h1
/tests/portable/inet_aton-t
/tests/portable/inet_ntoa-t
/tests/portable/setenv.t
/tests/portable/setenv.tr
/tests/portable/snprintf-t
/tests/runtests
/tests/util/concat-t
/tests/util/error-t
/tests/util/xmalloc
/tests/util/xwrite-t
.deps/
.dirstamp
*.a
*.o
